@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(255, 255, 255);
    padding: 2rem;
    display: flex;
    justify-content: center;
}
body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: url('../images/bg.png') no-repeat center;
    background-size: cover;
    animation: backgroundZoomAnimate 20s forwards;
}

@keyframes backgroundZoomAnimate {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

main {
    position: relative;
}

header {
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    z-index: 1;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 14px 1px;
}

header > h1 {
    display: inline-block;
    color: rgb(0, 0, 0);
    border-radius: 1em;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.2em 0.6em;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 0.5em;
    max-width: 720px;
}

ul > li {
    background: rgb(255, 255, 255, 0);
    border-radius: 2em;
    padding: 0.2em;
    margin: 2.5em 1.5em;
    backdrop-filter: blur(5px) saturate(110%) contrast(100%);
    -webkit-backdrop-filter: blur(5px) saturate(110%) contrast(100%);
    box-shadow: rgb(0, 0, 0) 0px 0px 14px 1px;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: rgb(0, 0, 0);
    padding: 0.5em;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.animated {
    opacity: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: opacity 4s ease-in-out, filter 4s ease-in-out;
}

.first_animation {
    opacity: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: opacity 3s ease-in-out, filter 4s ease-in-out;
}

.card {
    opacity: 0;
    box-shadow: rgb(0, 0, 0) 0 18px 200px 060px;
    border-radius: 50px;
    width: 650px;
    position: relative;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.251);
    padding: 3rem 5rem;
    transition: opacity 2s ease-in-out;
}
